<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="Stackolater" href="https://stackolater.com"><img src="{{{uiRootPath}}}/img/stackolater-logo.svg" alt="Stackolater" width="48"></a>
      <a class="navbar-item title" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Docs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">sol stacks</a>
            <a class="navbar-item" href="#">sol tools</a>
          </div>
        </div>
        <a class="navbar-item" href="https://stackolater.eu.auth0.com/v2/logout?client_id=aHTFNMn9ON9kWKbRPhiZXR2KkO1ifErX">Logout</a>
      </div>
    </div>
  </nav>
</header>
